body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url("../imagenes/fondometal.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 100svh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenedor-contacto {
  height: calc(100svh - 65px); /* espacio para botón */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info-contacto {
  font-size: 18px;
  line-height: 2;
  font-weight: 400;
}

.info-contacto i {
  margin-right: 8px;
}

.info-contacto a {
  color: #ffcc00;
  text-decoration: none;
  font-weight: bold;
}

.info-contacto a:hover {
  text-decoration: underline;
}

/* Botón volver */
.volver {
  background-color: #003399;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  align-self: center;
  margin-bottom: 10px;
  transition: all 0.2s ease;
}

.volver:hover {
  background-color: #001f66;
  transform: scale(1.05);
}
