body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: black;
}

.pantalla-sobre {
  background-image: url("../imagenes/fondometal.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
}

.recuadro-texto {
  background: rgba(0, 0, 0, 0.7);
  padding: 30px 25px;
  max-width: 850px;
  border-radius: 8px;
  color: white;
  font-size: 17px;
  line-height: 1.7;
  text-align: justify;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}

.recuadro-texto strong {
  font-weight: 700;
}

.amarillo {
  color: #ffc107;
  font-weight: 500;
}

/* Botón volver */
.volver {
  margin-top: 30px;
  background-color: #003399;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  transition: background 0.2s ease;
}

.volver:hover {
  background-color: #001f66;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .recuadro-texto {
    font-size: 15px;
    padding: 25px 20px;
  }

  .volver {
    font-size: 14px;
    padding: 10px 20px;
  }
}
