
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  background-color: black;
  overflow: hidden;
}

#intro-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#intro-video video {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 0 20px #000;
  border-radius: 20px;
}

.skip-intro {
  position: absolute;
  bottom: 30px;
  background: #ffd700;
  border: none;
  padding: 12px 28px;
  font-weight: bold;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease;
}

.skip-intro:hover {
  transform: scale(1.05);
}

#contenido {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pantalla-inicio {
  background-image: url("../imagenes/fondo-metal1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  flex: 1;
}

.menu-inferior {
  background-color: #003399;
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 12px;
  color: white;
}

.menu-inferior a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.menu-inferior a:hover {
  text-decoration: underline;
}
